<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzkj.mapper.privilege.PrivilegeMapper">

    <resultMap type="com.mzkj.bean.PrivilegeBean" id="privilegeResultMap">
        <id column="PRIVILEGE_ID" property="privilegeId"/>
        <result column="NAME" property="name"/>
        <result column="TYPE" property="type"/>
        <result column="SUB_TYPE" property="subType"/>
        <result column="CODE" property="code"/>
        <result column="TENANT_ID_" property="tenantId"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="DELETED" property="deleted"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		TB_PRIVILEGE
	</sql>

    <sql id="tb_master_access_operation_mapping">
		tb_master_access_operation_mapping
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		f.NAME,	
		f.TYPE,
		f.SUB_TYPE,
		f.CODE,	
		f.TENANT_ID_,	
		f.CREATE_USER,	
		f.CREATE_DATE,	
		f.UPDATE_USER,	
		f.UPDATE_DATE,	
		f.DELETED,
		f.PRIVILEGE_ID
	</sql>

    <!-- 字段用于新增 -->
    <sql id="Field2">
		NAME,	
		TYPE,
		SUB_TYPE,
		CODE,	
		TENANT_ID_,	
		CREATE_USER,	
		CREATE_DATE,	
		UPDATE_USER,	
		UPDATE_DATE,	
		DELETED,
		PRIVILEGE_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{name},
		#{type},
		#{subType},
		#{code},
		#{tenantId},
		#{createUser},
		#{createDate},
		#{updateUser},
		#{updateDate},
		#{deleted},
		#{privilegeId}
	</sql>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="com.mzkj.bean.PrivilegeBean"
            resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where 1=1
        <if test="name!= null and name != ''"><!-- 检索 -->
            and f.name like CONCAT(CONCAT('%', #{name}),'%')
        </if>
    </select>

    <insert id="insert" parameterType="com.mzkj.bean.PrivilegeBean">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field2"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 修改 -->
    <update id="update" parameterType="com.mzkj.bean.PrivilegeBean">
        update
        <include refid="tableName"></include>
        set
        name = #{name},
        type = #{type},
        sub_type = #{subType},
        code = #{code},
        UPDATE_DATE = #{updateDate},
        UPDATE_USER = #{updateUser}
        where
        PRIVILEGE_ID = #{privilegeId}
    </update>

    <!--单查-->
    <select id="findById" parameterType="com.mzkj.bean.PrivilegeBean"
            resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        where PRIVILEGE_ID = #{privilegeId}
    </select>

    <!-- 根据用户组查未选中权限 -->
    <select id="findPrivilegesUnselected" resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        left join <include refid="tb_master_access_operation_mapping"></include> mapping on
        mapping.access_value=f.privilege_id
        and mapping.master_type = 'usergroup'
        and mapping.access_type='privilege'
        and mapping.master_value=#{usergroupId}
        and mapping.deleted='0'
        where
        mapping.master_access_operation_mapping_id IS null
    </select>

    <!-- 根据用户查权限 -->
    <select id="findPrivilegesByUser" resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        left join <include refid="tb_master_access_operation_mapping"></include> mapping on
        mapping.access_value=f.privilege_id
        and mapping.master_type = 'user'
        and mapping.access_type='privilege'
        and mapping.master_value=#{userId}
        and mapping.deleted='0'
        where
        mapping.master_access_operation_mapping_id IS not null
    </select>

    <!-- 根据用户查权限 -->
    <select id="findPrivilegesByUserInPage"
            parameterType="com.mzkj.vo.privilege.QueryPrivilegesByUserVo"
            resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        left join <include refid="tb_master_access_operation_mapping"></include> mapping on
        mapping.access_value=f.privilege_id
        and mapping.master_type = 'user'
        and mapping.access_type='privilege'
        and mapping.master_value=#{userId}
        and mapping.deleted='0'
        where
        mapping.master_access_operation_mapping_id IS not null
    </select>

    <!-- 根据用户查未被选中的权限 -->
    <select id="findPrivilegesUnselectedByUser"
            parameterType="com.mzkj.vo.privilege.QueryPrivilegesByUserVo"
            resultMap="privilegeResultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        f
        left join <include refid="tb_master_access_operation_mapping"></include> mapping on
        mapping.access_value=f.privilege_id
        and mapping.master_type = 'user'
        and mapping.access_type='privilege'
        and mapping.master_value=#{userId}
        and mapping.deleted='0'
        where
        mapping.master_access_operation_mapping_id IS null
    </select>
</mapper>