<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzkj.mapper.companyOriginal.CompanyInformationMapper">

    <resultMap id="companyInformationMap" type="com.mzkj.bean.CompanyInformationBean">
        <id column="COMPANYINFORMATION_ID" javaType="string" property="companyInformationId"/>
        <result column="COMPANY_NAME" javaType="String" property="companyName"/>
        <result column="CUSTOMER_USERNAME" javaType="String" property="customerUsername"/>
        <result column="REMARK" javaType="String" property="remark"/>
        <result column="CREATE_DATE" javaType="String" property="createDate"/>
        <result column="CREATE_USER" javaType="String" property="createUser"/>
        <result column="UPDATE_DATE" javaType="String" property="updateDate"/>
        <result column="UPDATE_USER" javaType="String" property="updateUser"/>
        <result column="TENANT_ID_" javaType="String" property="tenantId"/>
        <result column="CUSTOMER_ID" javaType="String" property="customerId"/>
    </resultMap>

    <resultMap id="originalMap" type="com.mzkj.bean.OriginalBean">
        <id column="ORIGINAL_ID" javaType="string" property="originalId"/>
        <result column="COMPANY_INFORMATION_ID" javaType="String" property="companyInformationId"/>
        <result column="COMPANY_NAME" javaType="String" property="companyName"/>
        <result column="ORIGINAL_NAME" javaType="String" property="originalName"/>
        <result column="ORIGINAL_AMOUNT" javaType="String" property="originalAmount"/>
        <result column="ORIGINAL_HOLDER" javaType="String" property="originalHolder"/>
        <result column="ORIGINAL_HOLDER_DEPARTMENT" javaType="String"
                property="originalHolderDepartment"/>
        <result column="ORIGINAL_OUT_TO" javaType="String" property="originalOutTo"/>
        <result column="ORIGINAL_HOLD_STATUS" javaType="String" property="originalHoldStatus"/>
        <result column="ORIGINAL_OUT_STATUS" javaType="String" property="originalOutStatus"/>
        <result column="REMARK" javaType="String" property="remark"/>
        <result column="CREATE_DATE" javaType="String" property="createDate"/>
        <result column="CREATE_USER" javaType="String" property="createUser"/>
        <result column="UPDATE_DATE" javaType="String" property="updateDate"/>
        <result column="UPDATE_USER" javaType="String" property="updateUser"/>
        <result column="TENANT_ID_" javaType="String" property="tenantId"/>
        <result column="OTHER_FINANCE" javaType="String" property="otherFinance"/>
        <result column="OTHER_BUSINESS" javaType="String" property="otherBusiness"/>
        <result column="FINANCE_EFFECTIVE_TIME" javaType="String" property="financeEffectiveTime"/>
        <result column="ORIGINAL_TYPE" javaType="String" property="originalType"/>
    </resultMap>

    <!--表名 -->
    <sql id="tableName">
		TB_COMPANYINFORMATION
	</sql>

    <!--表名 -->
    <sql id="original">
		TB_ORIGINAL
	</sql>

    <!-- 字段 -->
    <sql id="Field">
		f.COMPANY_NAME,	
		f.CUSTOMER_USERNAME,
		f.REMARK,	
		f.CREATE_DATE,	
		f.CREATE_USER,	
		f.UPDATE_DATE,	
		f.UPDATE_USER,	
		f.TENANT_ID_,	
		f.COMPANYINFORMATION_ID,
		f.CUSTOMER_ID
	</sql>

    <!-- 字段用于新增 -->
    <sql id="Field2">
		COMPANY_NAME,	
		CUSTOMER_USERNAME,
		REMARK,	
		CREATE_DATE,	
		CREATE_USER,	
		UPDATE_DATE,	
		UPDATE_USER,	
		TENANT_ID_,	
		COMPANYINFORMATION_ID,
		CUSTOMER_ID
	</sql>

    <!-- 字段值 -->
    <sql id="FieldValue">
		#{companyName},
		#{customerUsername},
		#{remark},
		#{createDate},
		#{createUser},
		#{updateDate},
		#{updateUser},
		#{tenantId},
		#{companyInformationId},
		#{customerId}
	</sql>

    <!-- 新增-->
    <insert id="save" parameterType="com.mzkj.bean.CompanyInformationBean">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field2"></include>
        ) values (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="com.mzkj.bean.CompanyInformationBean">
        delete from
        <include refid="tableName"></include>
        where
        COMPANYINFORMATION_ID = #{companyInformationId}
    </delete>

    <!-- 修改 -->
    <update id="edit" parameterType="com.mzkj.bean.CompanyInformationBean">
        update
        <include refid="tableName"></include>
        set
        COMPANY_NAME = #{companyName},
        CUSTOMER_USERNAME = #{customerUsername},
        REMARK = #{remark},
        UPDATE_DATE = #{updateDate},
        UPDATE_USER = #{updateUser},
        COMPANYINFORMATION_ID = #{companyInformationId}
        where
        COMPANYINFORMATION_ID = #{companyInformationId}
    </update>

    <!-- 根据ID查询 -->
    <select id="findById" parameterType="String" resultMap="companyInformationMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include> f
        WHERE f.COMPANYINFORMATION_ID = #{companyInformationId}
    </select>

    <select id="list" parameterType="com.mzkj.bean.CompanyInformationBean"
            resultMap="companyInformationMap">
        select
        c.COMPANY_NAME,
        f.CUSTOMER_USERNAME,
        f.REMARK,
        f.CREATE_DATE,
        f.CREATE_USER,
        f.UPDATE_DATE,
        f.UPDATE_USER,
        f.TENANT_ID_,
        f.COMPANYINFORMATION_ID,
        f.CUSTOMER_ID
        from
        <include refid="tableName"></include>
        f LEFT JOIN tb_original o on f.COMPANYINFORMATION_ID=o.COMPANY_INFORMATION_ID
        left join tb_customer c on c.CUSTOMER_ID = f.CUSTOMER_ID
        where 1=1
        <if test="tenantId != null and tenantId != ''">
            AND f.TENANT_ID_= #{tenantId}
        </if>
        <if test="companyName != null and companyName != ''">
        AND f.COMPANY_NAME LIKE CONCAT(CONCAT('%', #{companyName}),'%')
        </if>
        <if test="originalHolderDepartment != null and originalHolderDepartment != ''">
            AND o.ORIGINAL_HOLDER_DEPARTMENT = #{originalHolderDepartment}
        </if>
        <if test="originalHolder != null and originalHolder != ''">
            AND o.ORIGINAL_HOLDER = #{originalHolder}
        </if>
        <if test="originalOutStatus != null and originalOutStatus != ''">
            AND o.ORIGINAL_OUT_STATUS = #{originalOutStatus}
        </if>
        GROUP BY f.COMPANYINFORMATION_ID
        order by f.CREATE_DATE desc


    </select>

    <!-- 根据ID查询 -->
    <select id="findOriginalNumberByCustomerIdAndHolder" parameterType="String" resultMap="originalMap">
        select
        <include refid="Field"></include>,o.*
        from
        <include refid="tableName"></include> f
        join
        <include refid="original"></include> o
        on f.COMPANYINFORMATION_ID = o.COMPANY_INFORMATION_ID
        WHERE f.CUSTOMER_ID = #{customerId}
        and o.ORIGINAL_HOLDER = #{holder}
    </select>
    <select id="findCompanyInformationByCustomerId" parameterType="String" resultMap="companyInformationMap">
        select <include refid="Field"></include> from <include refid="tableName"></include> f where f.CUSTOMER_ID = #{customerId}
    </select>

    <!-- 根据ID查询 -->
    <select id="findCompanyInformationByCompanyName" parameterType="String" resultMap="companyInformationMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include> f

        WHERE f.COMPANY_NAME = #{companyName}
    </select>

</mapper>
