<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzkj.mapper.companyOriginal.OriginalProcessRecordsMapper">

    <resultMap id="originalProcessRecordsMap" type="com.mzkj.bean.OriginalProcessRecordsBean">
        <id column="ORIGINALPROCESSRECORDS_ID" javaType="string" property="originalProcessRecordsId" />
            <result column="ORIGINAL_ID" javaType="String" property="originalId"/>
            <result column="ORIGINAL_FROM_TIME" javaType="String" property="originalFromTime"/>
            <result column="ORIGINAL_FROM_USERNAME" javaType="String" property="originalFromUsername"/>
            <result column="ORIGINAL_OUT_TIME" javaType="String" property="originalOutTime"/>
            <result column="ORIGINAL_OUT_USERNAME" javaType="String" property="originalOutUsername"/>
            <result column="REMARK" javaType="String" property="remark"/>
            <result column="CREATE_DATE" javaType="String" property="createDate"/>
            <result column="CREATE_USER" javaType="String" property="createUser"/>
            <result column="UPDATE_DATE" javaType="String" property="updateDate"/>
            <result column="UPDATE_USER" javaType="String" property="updateUser"/>
            <result column="TENANT_ID_" javaType="String" property="tenantId"/>
    </resultMap>


	<!--表名 -->
	<sql id="tableName">
		TB_ORIGINALPROCESSRECORDS
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		f.ORIGINAL_ID,	
		f.ORIGINAL_FROM_TIME,	
		f.ORIGINAL_FROM_USERNAME,	
		f.ORIGINAL_OUT_TIME,	
		f.ORIGINAL_OUT_USERNAME,	
		f.REMARK,	
		f.CREATE_DATE,	
		f.CREATE_USER,	
		f.UPDATE_DATE,	
		f.UPDATE_USER,	
		f.TENANT_ID_,	
		f.ORIGINALPROCESSRECORDS_ID
	</sql>
	
	<!-- 字段用于新增 -->
	<sql id="Field2">
		ORIGINAL_ID,	
		ORIGINAL_FROM_TIME,	
		ORIGINAL_FROM_USERNAME,	
		ORIGINAL_OUT_TIME,	
		ORIGINAL_OUT_USERNAME,	
		REMARK,	
		CREATE_DATE,	
		CREATE_USER,	
		UPDATE_DATE,	
		UPDATE_USER,	
		TENANT_ID_,	
		ORIGINALPROCESSRECORDS_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{originalId},
		#{originalFromTime},
		#{originalFromUsername},
		#{originalOutTime},
		#{originalOutUsername},
		#{remark},
		#{createDate},
		#{createUser},
		#{updateDate},
		#{updateUser},
		#{tenantId},
		#{originalProcessRecordsId}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="com.mzkj.bean.OriginalProcessRecordsBean">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field2"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="com.mzkj.bean.OriginalProcessRecordsBean">
		delete from
		<include refid="tableName"></include>
		where 
			ORIGINALPROCESSRECORDS_ID = #{originalProcessRecordsId}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="com.mzkj.bean.OriginalProcessRecordsBean">
		update
		<include refid="tableName"></include>
		set 
			ORIGINAL_FROM_TIME = #{originalFromTime},
			ORIGINAL_FROM_USERNAME = #{originalFromUsername},
			ORIGINAL_OUT_TIME = #{originalOutTime},
			ORIGINAL_OUT_USERNAME = #{originalOutUsername},
			REMARK = #{remark},
			CREATE_DATE = #{createDate},
			CREATE_USER = #{createUser},
			UPDATE_DATE = #{updateDate},
			UPDATE_USER = #{updateUser},
			TENANT_ID_ = #{tenantId},
			ORIGINALPROCESSRECORDS_ID = #{originalProcessRecordsId}
		where 
			ORIGINALPROCESSRECORDS_ID = #{originalProcessRecordsId}
	</update>
	
	<!-- 列表(全部) -->
	<select id="list" parameterType="com.mzkj.bean.OriginalProcessRecordsBean" resultMap="originalProcessRecordsMap">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include> f
		where f.ORIGINAL_ID =#{originalId}
		ORDER BY f.CREATE_DATE desc
	</select>
	
</mapper>
